# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\training_monstar\pham2000long.github.io\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
